// src/components/Player.sass
.player
  margin: 0
  padding: 20px
  border: 1px solid #eee

  &:hover
    background-color: #eee

    &> .delete
      display: inline

  &:nth-child(even)
    background-color: #f6f6f6

    &:hover
      background-color: #eee

  .avatar
    display: inline-block
    width: 50px
    height: 50px
    margin-right: 10px

    img
      width: 100%
      border-radius: 50%
      border: 1px solid #000

  .label
    display: inline-block
    width: 250px
    height: 50px
    margin-left: 10px
    vertical-align: top

  button
    border: 1px solid #ccc
    color: #ccc
    border-radius: 3px
    background-color: #fff
    font-size: 1.2rem
    float: right
    margin: 20px 0 20px 20px

    &.delete
      display: none

    &:hover
      background-color: #999
      color: #fff
